<%= simple_form_for(@journal_entry, :html => {:class => 'form-vertical'}) do |f| %>
  <% if @journal_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journal_entry.errors.count, "error") %> prohibited this journal_entry from being saved:</h2>

      <ul>
      <% @journal_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Date:  <%= f.input :date %>
  </div>
  <div class="field">
    City or Town: <%= f.text_field :loc_city %>
  </div>
  <div class="field">
    State: <%= f.text_field :loc_state %>
  </div>
  <div class="field">
    Description: <%= f.text_area :description %>
  </div>
  <div class="field">
    Air Temp: <%= f.number_field :air_temp %>
  </div>
  <div class="field">
    Water Temp: <%= f.number_field :water_temp %>
  </div>
  <div class="field">
    Weather Conditions: <%= f.text_field :conditions %>
  </div>
  <div class="field">
    Fish Species Sought: <%= f.text_field :species_sought %>
  </div>
  <div class="field">
    Fish Species Caught: <%= f.text_field :species_caught %>
  </div>
  <div class="field">
    Fly Pattern: <%= f.text_field :fly_pattern %>
  </div>
  <div class="field">
    Fishing Pressure: <%= f.text_field :pressure %>
  </div>
  <div class="field">
    Rating (1 to 5): <%= f.number_field :rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
