<h1>My Fly-fishing Journal</h1>

<table width="960">
  <tr>
    <th>Date</th>
    <th>City</th>
    <th>State</th>
    <th>Air </br>temp</th>
    <th>Water </br>temp</th>
    <th>Conditions</th>
    <th>Species </br>caught</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @journal_entries.each do |journal_entry| %>
  <tr>
    <td width="12%"><center><%= journal_entry.date %></center></td>
    <td width="12%"><center><%= journal_entry.loc_city %></center></td>
    <td><center><%= journal_entry.loc_state %></center></td>
    <td><center><%= journal_entry.air_temp %></center></td>
    <td><center><%= journal_entry.water_temp %></center></td>
    <td><center><%= journal_entry.conditions %></center></td>
    <td><center><%= journal_entry.species_caught %></center></td>
    <td><center><%= journal_entry.rating %></center></td>
    <td><%= link_to 'Show', journal_entry, class: "btn btn-mini" %></td>
    <td><%= link_to 'Edit', edit_journal_entry_path(journal_entry), class: "btn btn-mini" %></td>
    <td><%= link_to 'Destroy', journal_entry, class: "btn btn-mini btn-danger", confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Journal entry', new_journal_entry_path %>
