<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @entry.date %>
</p>

<p>
  <b>City:</b>
  <%= @entry.city %>
</p>

<p>
  <b>State:</b>
  <%= @entry.state %>
</p>

<p>
  <b>Description:</b>
  <%= @entry.description %>
</p>

<p>
  <b>Air Temp:</b>
  <%= @entry.airtemp %>
</p>

<p>
  <b>Water Temp:</b>
  <%= @entry.watertemp %>
</p>

<p>
  <b>Conditions:</b>
  <%= @entry.conditions %>
</p>

<p>
  <b>Species Sought:</b>
  <%= @entry.speciessought %>
</p>

<p>
  <b>Species Caught:</b>
  <%= @entry.speciescaught %>
</p>

<p>
  <b>Fly Pattern:</b>
  <%= @entry.flypattern %>
</p>

<p>
  <b>Pressure:</b>
  <%= @entry.pressure %>
</p>

<p>
  <b>Rating:</b>
  <%= @entry.rating %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
