<!DOCTYPE html>
<html>
<head>
  <title>ShoutFly the Social Fly-Fishing App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style type="text/css">
      body {
        padding: 20px;
      }
  </style> 
    
</head>

<body>



  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container-fluid">
        <!-- <a class="brand" href="#"><img src="/assets/tiny_logo_test1.png" /></a> -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <%= link_to "ShoutFly", root_path, class: "brand" %>
        <div class="nav-collapse">
          <ul class="nav">
            <li> <%= link_to "Home", root_path, class: "active" %> </li>
            <li> <%= link_to "About", about_path %> </li>
            <li> <%= link_to "Contact", contact_path %></li>
          </ul>
          <ul class="nav pull-right">
            <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
            <li class="divider-vertical"></li>

            <% if user_signed_in? %>
            <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
            <li><%= link_to "Log In", new_user_session_path %></li>
            <% end %>
          </ul> <!-- pull right -->
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>

  <div class="container">

    <% flash.each do |key, value| %>
    <%= contePnt_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
   
    <%= yield %>

  </div><!-- container -->

<footer>
  <div class="container">
    <div class="row">

      <div class="span4">
       
       <h4>ShoutFly</h4>

          <p>
            <i class="icon-map-marker icon-white"></i> 30 Park Avenue
          </p>
          <p> 
            <i class="icon-map-marker icon-white"></i> New York, NY 00123, USA
          </p>  
          <p> 
            <i class="icon-bell icon-white"></i> Phone: (123) 456-7890
          </p>
          <p> 
            <i class="icon-inbox icon-white"></i> Fax: +08 (123) 456-7890
          </p>
          <p>
            <i class="icon-envelope icon-white"></i> Email: contact@companyname.com
          </p>
          <p>
            <i class="icon-home icon-white"></i> Web: companyname.com
          </p>
        
      </div>
      <div class="span4">
        <h4>Latest Tweets</h4>
          
          <ul id="twitter">
            
          </ul>

          <div class="clear"></div>
      </div>
      <div class="span4">
        
      </div>
      
    </div><!-- end row -->
  </div><!-- end container -->  

</footer>

</body>

</html>
